*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}
head, body {
  background-color: #A2A7A6

  }

header {
  background: url("shaw.jpg");
  background-size: cover;
  text-align: center;
  font-weight: bold;
  }
  h1 {
    font-size: 50px;
    padding: 6px 0px 6px 0px;
    background-color: #666667;
  }

  ul {
    background: #666667;
    padding: 20px;
  }
  a {
    padding: 10px 25px 10px 25px;
    display: inline;
    font-size: 20px;
  }
  img {
    margin: 20px 0px 50px 0px;
    border: 5px solid black;
    border-radius: 20px;
    }
    li {
       padding: 10px 25px 10px 25px;
      display: inline;
    }
    h2 {
      font-size: 25px;
      padding:inherit;
    }
    p {
      font-size: 18px;
      padding:inherit;
    }
    article {
      max-width:800px;
      margin: 0 auto;
    }
    form {
      max-width:800px;
      padding: 10px;
      margin: 0 auto;
    }
